# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build artifacts
vendor/
go.work
tmp/
tmp/main

# Go build cache
.cache/
.config/
.gitconfig

# Management folders
*-management/

# IDE
.cursorrules
.idea/
.vscode/

.env

# Engram
.engram/engram.db
.engram/*.db-*

# Engram local agent memory (no commitear)
memory/
